.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .box {
    flex-direction: column;
    display: flex;
  }

  .footer__info-box {
    background-color: $footer_grey;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  .footer__awards {
    display: flex;
    padding: 0.6rem;
  }

  .footer__sign {
    padding: 0.6rem;
  }

  .footer__detail-box {
    background-color: $footer_grey;
    color: #777;
    div {
      margin: 0.5rem 0;
    }
  }

  .icons {
    display: flex;
    justify-content: center;
    a {
      color: inherit;
    }
    i {
      margin: 0 0.2rem;
      font-size: 1.5rem;
    }
  }

  .footer__nav-box {
    background-color: $footer_blue;
    color: #fff;
    padding: 1rem;
    ul {
      display: flex;
      list-style: none;
      justify-content: center;
      margin: 0;
      padding: 0;
      flex-direction: column;
      text-align: center;
      li {
        margin: 0 0.5rem;
        a {
          font-size: 0.8rem;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }

  .copyright {
    padding: 0 2rem;
    text-align: center;
  }
}

@media (min-width: 40rem) {
  .footer {
    .footer__info-box {
      flex-direction: row;
      justify-content: space-around;
    }

    .footer__images {
      max-width: 18rem;
    }

    .footer__nav-box {
      ul {
        flex-direction: row;
        justify-content: flex-start;
      }
    }
  }
}
