.press-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  border-top: 1px solid $footer_grey;

  .press__title {
    font-size: 2rem;
  }

  .image-container {
    width: 50%;
    margin: 1rem 0;
    img {
      filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
        hue-rotate(0deg);
    }
  }
}

.press__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

@media (min-width: 40rem) {
  .press-section {
    padding: 2rem;
  }

  .press__title {
    margin: 0;
  }

  .press-section {
    .image-container {
      width: 20%;
    }
  }

  .press__icons {
    flex-direction: row;
    justify-content: space-around;
  }
}
